version: "3.9"

services:
    kafka:
        image: confluentinc/cp-kafka:7.7.0
        container_name: kafka
        ports:
            - "9094:9094" # host 9094 -> container 9094 (EXTERNAL listener)
        environment:
            # Tek node KRaft mode
            CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
            KAFKA_KRAFT_MODE: "true"
            KAFKA_BROKER_ID: 1
            KAFKA_PROCESS_ROLES: "broker,controller"
            KAFKA_NODE_ID: 1
            KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
            KAFKA_LISTENERS: "INTERNAL://:9092,CONTROLLER://:9093,EXTERNAL://:9094"
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT"
            KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
            KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:9092,EXTERNAL://localhost:9094"
            KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            # Mesaj boyutu limitleri (5MB)
            KAFKA_MESSAGE_MAX_BYTES: 5242880
            KAFKA_REPLICA_FETCH_MAX_BYTES: 5242880
            KAFKA_SOCKET_REQUEST_MAX_BYTES: 5242880
        networks:
            - infra-network

    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        ports:
            - "8081:8081"
        environment:
            - SERVER_PORT=8081
            - KAFKA_CLUSTERS_0_NAME=local
            - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
        depends_on:
            kafka:
                condition: service_started
        networks:
            - infra-network

networks:
    infra-network:
        driver: bridge
